button {

  &.btn {
    padding: 4px 12px;
    display: block;
    background-color: $buttonBackgroundColor;
    color: $buttonColor;
    border: none;

    &:hover {
      background: #290099;
    }
  }
}