/**

   COLORS AND SIZES

 */

// https://coolors.co/D50000-086788-3900ff-141819-fffdf7
$darkGray: #141819;
$accentColor: #3900FF;
$brightColor: #FFFDF7;

$buttonColor: #54D604;
$linkColor: #54D604;

// Constants
$colPadding: 1rem;
$headerHeight: 78px;

// Breakpoints
$micro: 320px;
$mini: 360px;
$mobile: 768px;
$tablet: 1280px;
$desktop: 1400px;


// Fontsizes:
$lgBaseFont: 40px;
$mdBaseFont: 20px;