/**

   COLORS AND SIZES

 */

// https://coolors.co/06aed5-086788-3900ff-141819-fffdf7
$darkGray: #141819;
$accentColor: #3900FF;
$brightColor: #FFFDF7;

$linkColor: #06AED5;

$colPadding: 1rem;
$headerHeight: 78px;