/**
Wordpress theme for stringsurgery.co.uk
 */

html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}
@-ms-viewport{
  width: device-width;
}

h1,h2,h3,h4,h5, button {
  font-weight: 200;
}

@import "css/index";